body{
    margin:0 auto;
}

                                                                    /*设置首航栏鼠标悬停时字体颜色为蓝色*/
a:hover{
    color:blue;
}
                                                                    /*设置首航栏在页面中的位置字间距*/
.navi{
    margin-top:20px;
    text-align:right;
    padding:5px;
    /*background-color:pink;*/
}
                                                                    /*设置首航栏字体颜色大小*/
.navi1{
    color:black;
    font-weight:bold;
    padding:5px;
    font-size:13px;
}

.navi2{
    color:black;
    padding:5px;
    font-size:13px;
}
                                                                    /*无序列表无项目符号*/
ul{
    list-style-type:none;
}
.full:hover{
    background-color:#3399ff;
    color:white;
}
.shezhi:hover{
    color:white;
}                                                              /*搜索栏样式*/
.search0{
    text-align:center;
    margin:0 auto;
    /*border:2px solid red;*/
    top:60px;
    position:relative;
    width:663px;
    height:60px;
    top:80px;
}
#s{
    width:540px;
    height:38px;
}
#baid{
    width:100px;
    height:38px;
    background-color:#3399ff;
    color:white;
    font-size:14px;
}
.logo{
    top:60px;
    position:relative;
    width:306px;
    height:128px;
    text-align:center;
    margin:0 auto;

}
.bg{
    background-color:#3399ff;
    color:white;
    padding:5px;
    font-size:13px;
    margin:2px;
    text-decoration:none;
}
#bg0{
    background-color:#3399ff;
}

                                                                /*尾栏样式*/
.end{
    text-align:center;
    margin:0 auto;
    width:341px;
    height:68px;
    /*border:2px solid red;*/
    position:relative;
    top:300px;
    line-height:150%;
    color:#808080;
}

.end1{
    font-size:8px;
    padding:5px;
}
.end2{
    color:#808080;
    font-size:8px;
    text-decoration:underline;
}


.light{
    font-size:8px;
    line-height:100%;
}
.light2{
    font-size:8px;
    line-height:100%;
    text-decoration:underline;
    color:red;

}